<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="baseDao" class="com.server.dao.BaseDao">
		<property name="sessionFactory"> 
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="rssiDao" class="com.server.dao.impl.RssiDaoImpl" parent="baseDao"> 
	</bean>
	
	<bean id="rssiService" class="com.server.service.impl.RssiServiceImpl">
		<property name="rssiDao">
			<ref bean="rssiDao"/>
		</property>
	</bean>
	
	<bean id="rssiAction" class="com.server.action.RssiAction">
		<property name="rssiService">
			<ref bean="rssiService"/>
		</property>
	</bean>
	
	<bean id="userDao" class="com.server.dao.impl.UserDaoImpl" parent="baseDao"></bean>
	
	<bean id="userService" class="com.server.service.impl.UserServiceImpl">
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
	</bean>
	
	<bean id="userAction" class="com.server.action.UserAction">
		<property name="userService">
			<ref bean="userService"/>
		</property>
	</bean>
</beans>
