<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="baseDao" class="com.server.dao.BaseDao">
		<property name="sessionFactory"> 
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="rssiDao" class="com.server.dao.impl.RssiDaoImpl" parent="baseDao"> 
	</bean>
	
	<bean id="rssiService" class="com.server.service.impl.RssiServiceImpl">
		<property name="rssiDao">
			<ref bean="rssiDao"/>
		</property>
	</bean>
	
	<bean id="rssiAction" class="com.server.action.RssiAction">
		<property name="rssiService">
			<ref bean="rssiService"/>
		</property>
	</bean>
	
	<bean id="userDao" class="com.server.dao.impl.UserDaoImpl" parent="baseDao"></bean>
	
	<bean id="userService" class="com.server.service.impl.UserServiceImpl">
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
	</bean>
	
	<bean id="userAction" class="com.server.action.UserAction">
		<property name="userService">
			<ref bean="userService"/>
		</property>
	</bean>
	
	<bean id="jumlogicAction" class="com.server.action.JumpLogicAction">
		
	</bean>
	
	<bean id="bookinfoDao" class="com.server.dao.impl.BookInfoDaoImpl" parent="baseDao"></bean>
	
	<bean id="bookinfoService" class="com.server.service.impl.BookInfoServiceImpl">
		<property name="bookInfoDAO">
			<ref bean="bookinfoDao"/>
		</property>
	</bean>
	
	<bean id="modelinfoDao" class="com.server.dao.impl.ModelInfoDaoImpl" parent="baseDao"></bean>
	
	<bean id="modelinfoService" class="com.server.service.impl.ModelInfoServiceImpl">
		<property name="modelInfoDAO">
			<ref bean="modelinfoDao"/>
		</property>
	</bean>
	
	<bean id="modeldataDao" class="com.server.dao.impl.ModelDataDaoImpl" parent="baseDao"></bean>
	
	<bean id="modeldataService" class="com.server.service.impl.ModelDataServiceImpl">
		<property name="modelDataDAO">
			<ref bean="modeldataDao"/>
		</property>
	</bean>
	
	
	<!-- Action -->
	<bean id="modelinfoAction" class="com.server.action.ModelInfoAction">
		<property name="modelInfoService">
			<ref bean="modelinfoService"/>
		</property>
	</bean>
	
	<bean id="modeldataAction" class="com.server.action.ModelDataAction">
		<property name="modelDataService">
			<ref bean="modeldataService"/>
		</property>
	</bean>
	
	<bean id="bookinfoAction" class="com.server.action.BookInfoAction">
		<property name="bookInfoService">
			<ref bean="bookinfoService"/>
		</property>
	</bean>
	
</beans>
